{% extends 'base_gene_finder.html' %}

{% block body %} 
<div class="column is-4 is-offset-4">
        <div class="box">
            <form method="POST" action="">
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="text" onkeyup="this.value = this.value.toUpperCase()" name="dna" id="dna" placeholder="Gene" autofocus="">
                    </div>
                </div>
                <button class="button is-block is-info is-large is-fullwidth">Submit Query</button>

            </form>
        </div>
</div>

<div class="content">
    <div class="box">
        <div class="buttons" >
            <button class="button is-link align center"><a href="/update">Refresh results</a></button>
          </div>
          
        {% if rows|length < 1 %}
            <h3 style="text-align: center ;">You don't have any past query record.</h3>
        {% else %}
            <h3 style="text-align: center ;">Your past queries</h3>
            <div class="table-container">
                <table class ="table is-fullwidth" >
                    <tr>
                        <th>Date</th>
                        <th>Genome</th>
                        <th>Start</th>
                        <th>End</th>
                        <th>Status</th>
                        <th>Actions</th>
                        <th>DNA</th>

                    </tr>
                    {% for row in rows %}
                    <tr>
                        <td>{{ row.date_created.date() }}</td>
                        <td>{{ row.genome }}</td>
                        <td>{{ row.start }}</td>
                        <td>{{ row.end }}</td>
                        <td>{{ row.status }}</td>
                        <td>
                            <a href="/delete/{{row.id}}">Delete</a>
                            <br/>
                            <a href="/update">Refresh</a>
                        </td>
                        <td>{{ row.dna }}</td>

                    </tr>
                    {% endfor %}
                </table>
            </div>
        {% endif %}
    </div>

    
</div>
{% endblock %}
